<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="search-bar">
    <form class="form-inline" action="/search" method="GET">
      <label class="sr-only" for="inlineFormInput">City</label>
      <input name="city" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="What are you looking for?">


      <label class="sr-only" for="inlineFormInputGroup">When</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input name="date_range" type="text" class="form-control" id="dateRange" placeholder="When">
      </div>
      <input type="submit"  class="btn btn-primary" value="Search!">

    </form>
  </div>





<li><%= link_to "See Artworks", artworks_path %></li>
<li><%= link_to "Create Artwork", new_artwork_path %></li>
<li><%= link_to "See Venues", venues_path %></li>
<li><%= link_to "Create Venues", new_venue_path %></li>


